extends base

block content 
    section.main_section
        input#firstName(type="text")
        input#lastName(type="text")
        input#email(type="text")
        input#password(type="text")
        button#create создать проблемы
        button#getin Уникальность

block scripts 
    script(src="./js/login.js")